<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>
    <p id="one">demo</p>
    <p class="two">javascript</p>
    <button id="btn1">Click</button>
    <p>jquery</p>
    <div class="div1" style="background-color: yellow; height: 200px; width: 200px;"></div>
    <button class="btn2">fade</button>
    <button class="btn3">fade in</button>
    <button class="btn4">fade Toggle</button>
    <button class="btn5">fade To</button>
    <div class="div2" style="background-color:brown ; height: 50px; width: 1000px; text-align: center;">
    click Here</div>
    <div class="div3" style="display: none; background-color: aqua; height: 50px; width: 1000px;"></div>
    <script>
        $(document).ready(function () {
            $('p').css('color', 'red')

        })

        $('#btn1').click(function () {
            // $('#one').show(1000,function(){
            //     alert("Hello")
            // })
            $('#one').toggle(1000)
        })
        $('#one').dblclick(function () {
            $('#one').hide()
        })
        $('#one').hover(function () {
            $('#one').css('color', 'green')
        })

        $('.btn2').click(function () {
            $('.div1').fadeOut()
        })

        $('.btn3').click(function () {
            $('.div1').fadeIn()
        })


        $('.btn4').click(function () {
            $('.div1').fadeToggle()
        })

        $('.btn5').click(function () {
            $('.div1').fadeTo(1000,0.5)
        })

        $('.div2').click(function(){
            $('.div3').slideToggle()
        })

    </script>

</body>

</html>